<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn_DeTai6_AppBanHangOnline"
        tools:targetApi="31">
        <activity
            android:name=".MyFavoriteProductActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditDeliveryAdressActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsOrderActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false"
            android:label="Địa chỉ của tôi" />
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false"
            android:label="Thiết lập tài khoản" />
        <activity
            android:name=".MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsProductActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/register" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:label="@string/sign_in" />
        <activity
            android:name=".PayActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:label="@string/cart" />
    </application>

</manifest>